version: '3.3'
services:
  db:
    image: postgres:12.4
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env

  web:
    image: 4178302998/foodgram_front:latest
    volumes:
      - ./frontend/:/app/result_build/
    depends_on:
      - db

  backend:
    image: 4178302998/foodgram_back:latest
    restart: always
    volumes:
      - static_value:/code/back_static/
      - media_value:/code/back_media/upload/
    depends_on:
      - db
    env_file:
      - ./.env

  nginx:
    image: nginx:1.19.3
    ports:
      - 80:80
    volumes:
      - static_value:/code/back_static/
      - media_value:/code/back_media/upload/
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ../frontend/build:/usr/share/nginx/html/
      - ../docs/redoc.html:/usr/share/nginx/html/api/docs/redoc.html
      - ../docs/openapi-schema.yml:/usr/share/nginx/html/api/docs/openapi-schema.yml
    restart: always
    depends_on:
      - backend
      - web


volumes:
  postgres_data:
  static_value:
  media_value:
