version: '3.3'
services:
    db:
      image: postgres:latest
      volumes:
        - postgres_data:/var/lib/postgresql/data/
      restart: always
      env_file:
        - ./.env
    frontend:
      image: 4178302998/foodgram_front:latest
      volumes:
        - ../frontend/:/app/result_build/
      depends_on:
        - db
    backend:
        image: 4178302998/foodgram_back:latest
        restart: always
        volumes:
            - static_value:/code/back_static/
            - media_value:/code/back_media/upload/
        depends_on:
            - db
        env_file:
            - ./.env
    nginx:
        image: nginx:1.19.3
        ports:
            - 80:80
        volumes:
            - static_value:/code/back_static/
            - media_value:/code/back_media/upload/
            - ./nginx.conf:/etc/nginx/conf.d/default.conf
            - ../frontend/build:/usr/share/nginx/html/
            - ../docs/redoc.html:/usr/share/nginx/html/api/docs/redoc.html
            - ../docs/openapi-schema.yml:/usr/share/nginx/html/api/docs/openapi-schema.yml
            - ../docs/:/usr/share/nginx/html/api/docs/
        restart: always
        depends_on:
            - backend
            - frontend
volumes: 
  static_value:
  media_value:
  postgres_data:
